.masthead {
    height: 70vh;
    min-height: 500px;
    transform: translateY(-5%);
    background-color: var(--acc);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  } 

  .counter{
    /* background-color: var(--sec); */
    color: var(--acc);
    /* text-shadow: 4px 4px var(--sec); */
    border-radius: 15PX;
    background-image: url('../../public/Background/360_F_242196688_e2a8ysUHFL6cfBlFk2kCf3OlhHKK9tce.jpg');
    /* background-size: cover; */
    background-position: center;
  
  }

  .counter > h2{
    text-shadow: 4px 4px var(--sec);
  }
  
  
  #title-col{
    background-color: black !important;
    background-image: url('../../public/Background/360_F_242196688_e2a8ysUHFL6cfBlFk2kCf3OlhHKK9tce.jpg');
    background-size: cover;
    background-position: center;
    color: var(--acc);
    text-shadow: 4px 4px var(--sec);
    transform: translateX(-5%) scale(1.1);
    animation: slide 1s ease-out;
    will-change: transform;
  }

  #textSlide{
    animation: textSlide 1s ease-in-out;
   
  }

  @keyframes slide{
    0% {
      transform: translateX(-50%) scale(1.1);  
    }
  100% {
      transform: translateX(-5%)  scale(1.1);
  }

}
  @keyframes textSlide {
    0% {
      transform: translateX(-50%);  
      opacity: 0;
    }
    70% {
      transform: translateX(40%);
  }
  100% {
      transform: translateX(0%);
      opacity: 100%;
  }
  }

  @media (min-width: 768px) {
    #textSlide{
      margin-left: 20%;
    }
  }