:root{
    --main: white;
    --sec: black;
    --acc: #feed00;
}

body{
  font-family: "Space Grotesk", sans-serif;
  color: var(--sec);
}

h1, h2, .bi-star-fill{
  font-family: "Black Ops One", system-ui;
  color: var(--acc);
}

h3, h4{
  font-family: "Black Ops One", system-ui;
  color: var(--sec);
}

main{
  margin-top: 80px;
}

 
.bg-sec {
  background-color: var(--sec);
}

.bg-yellow {
    background-color: var(--acc);
  }

  .btn-yellow {
    background-color: var(--acc);
  }

  .btn-yellow:hover {
    background-color: var(--sec);
    color: var(--acc);
  }

  a {
    text-decoration: none;
    color: var(--acc);
  }

  /* .product-card-body{
    min-height: 200px;
  } */

  .card-img-top{
    height: 180px;
    border-radius: 15px 15px 0 0;
    /* width: 100%; */
  }

  .card-body, .card {
    border: none;
  }

  .review-card{
  background-color: var(--sec); 
  color: var(--main);
  border: var(--acc) 3px solid;
  border-radius: 15px;
}

.product-card{
  border: var(--sec) 3px solid;
  border-radius: 15px;
}

.dashboard-layout{
  background-color: var(--sec);
  color: var(--acc);
  /* margin-top: -100px; */
}

.dashboard-layout> .main{
  margin-top: 300px;
}

.bi-star-fill{
  color: var(--acc);
}

.bi-star{
  color: var(--acc);
}

.text-cart> a{
  color: var(--sec);
}