:root{
    --main: white;
    --sec: black;
    --acc: #feed00;
}

body{
  font-family: "Space Grotesk", sans-serif;
}

h1, h2{
  font-family: "Black Ops One", system-ui;
  color: var(--acc);
}

main{
  margin-top: 100px;
}

 
.bg-sec {
  background-color: var(--sec);
}

.bg-yellow {
    background-color: var(--acc);
  }


  /* .auth-form {

  } */

  .btn-yellow {
    background-color: var(--acc);
  }

  .btn-yellow:hover {
    background-color: var(--sec);
    color: var(--acc);
  }

  a {
    text-decoration: none;
    color: var(--acc);
  }

  .card{
    min-height: 300px;
  }