:root{
    --main: white;
    --sec: black;
    --acc: #feed00;
}

body{
  font-family: "Space Grotesk", sans-serif;
}

h1, h2{
  font-family: "Black Ops One", system-ui;
}

 
.bg-sec {
  background-color: var(--sec);
}

.bg-yellow {
    background-color: var(--acc);
  }